@inherits DataSourcePropertiesComponent<QueryDataSourcePropertiesData>

<fieldset>
    <div class="form-group">
        <MatTextField Label="Query" @bind-Value="@PropertiesInternal.Query" Outlined="true"></MatTextField>
    </div>
</fieldset>

@code {

}