@inherits DataSourcePropertiesComponent<RandomDataSourcePropertiesData>

<fieldset>
    <div class="form-group">
        <MatNumericUpDownField Label="Min" @bind-Value="@PropertiesInternal.Min" Minimum="-100" Maximum="100" Outlined="true"></MatNumericUpDownField>
    </div>
    <div class="form-group">
        <MatNumericUpDownField Label="Max" @bind-Value="@PropertiesInternal.Max" Minimum="-100" Maximum="100" Outlined="true"></MatNumericUpDownField>
    </div>
</fieldset>

@code {

}
