@using industry9.Shared.Dto.DataSourceDefinition.Properties
@inherits industry9.UI.Base.DataSourcePropertiesComponent<QueryDataSourcePropertiesData>

<fieldset>
    <div class="form-group">
        <MatTextField Label="Query" @bind-Value="@PropertiesInternal.Query" Outlined="true"></MatTextField>
    </div>
</fieldset>

@code {

}