@using industry9.Shared.Dto.DataSourceDefinition.Properties
@inherits industry9.UI.Base.DataSourcePropertiesComponent<QueryDataSourcePropertiesData>

<fieldset>
    <div class="form-group">
        <MatTextField Label="Query" @bind-Value="@PropertiesInternal.Query" Outlined="true"></MatTextField>
    </div>
</fieldset>

@code {
    //private QueryDataSourcePropertiesData _properties = new QueryDataSourcePropertiesData();

    //[Parameter]
    //public IDataSourcePropertiesData Properties
    //{
    //    get => _properties;
    //    set => _properties = value as QueryDataSourcePropertiesData ?? _properties;
    //}

    //[Parameter]
    //public EventCallback<IDataSourcePropertiesData> PropertiesChanged { get; set; }

    //protected override async Task OnAfterRenderAsync(bool firstRender)
    //{
    //    if (firstRender)
    //    {
    //        await PropertiesChanged.InvokeAsync(_properties);
    //    }
    //}
}